* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  color: #ededed;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: transparent;
  z-index: 100%;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500px;
  color: #fff;
  margin-left: 35px;
  transition: 3s;
  opacity: 0;
  animation: slideTop 5s ease forwards;

}
.navbar a:hover {
  color: #0ef;
}
.home {
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(photo/Vivarily-2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}
.home-content h3 span{
  color: #0ef;   
}
.home-content h3:nth-of-type(2){
  margin-bottom: 30px;
}
.home-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p{
    font-size: 17px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{ 
    color: #0ef;;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;;
    border-radius: 50%;
    text-decoration: none ;
    font-size: 20px;
    margin: 30px 15px 30px 0;
    transition: .5s; 
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i)); 
}
.home-sci a:hover{
    background: #0ef;;
    color:#081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600; 
}
.btn-box:hover{
    box-shadow: 0 0 5px rgb(52, 197, 207), 
    0 0 25px rgb(52, 197, 207),0 0 50px rgb(52, 197, 207),
    0 0 100px rgb(52, 197, 207), 0 0 200px rgb(52, 197, 207) 
}
@keyframes slideRight{
  0%{
    transform: translatex(-100px);
    opacity: 0;
  }
  100%{
    transform: translatex(0px);
    opacity: 1;
  }
}
@keyframes slideLeft{
  0%{
    transform: translatex(100px);
    opacity: 0;
  }
  100%{
    transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes slideTop{
  0%{
    transform: translatey(100px);
    opacity: 0;
  }
  100%{
    transform: translatey(0px);
    opacity: 1;
  }
}
@keyframes  slideBottom {
  0%{
    transform: translatey(-100px);
    opacity: 0;
  }
  100%{
    transform: translatey(0px);
    opacity: 1;
  }
}
 


