* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  color: #ededed;
  background-color: #081b29; 
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: transparent;
  z-index: 100%;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500px;
  color: #fff;
  margin-left: 35px;
  transition: 2s;
  opacity: 0;
  animation: slideTop 5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: #0ef;
}
.home {
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(photo/Heading-6.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span {
  color: #0ef;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 17px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 1;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
  box-shadow: 0 0 5px rgb(52, 197, 207), 0 0 25px rgb(52, 197, 207),
    0 0 50px rgb(52, 197, 207), 0 0 100px rgb(52, 197, 207),
    0 0 200px rgb(52, 197, 207);
}
.about {
  width: 100%;
  min-height: 100vh;
}

/* IMAGE CONTAINER */
.about-img {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* IMAGE FULL */
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT OVER IMAGE */
.about-text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  max-width: 500px;

  color: #fff;
  z-index: 2;
}

/* DARK OVERLAY FOR READABILITY */
.about-img::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* TEXT STYLING */
.about-text h2 {
  font-size: 48px;
}

.about-text h2 span {
  color: #0ef;
}

.about-text h4 {
  font-size: 20px;
  margin: 10px 0;
}

.about-text p {
  line-height: 1.8;
  margin: 15px 0 25px;
  color: #ddd;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
